# Lecture 6 â€“ Table Fundamentals

## Data 6, Summer 2025

In [ ]:
from datascience import *
import numpy as np

In [ ]:
# Warm Up

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
type(schools)

In [ ]:
schools.num_rows

In [ ]:
schools.column("Name")

## Quick check 1

In [ ]:
ncols = schools.num_columns
ncols

In [ ]:
arr = schools.column("Name")
type(arr)

## Quick check 2

In [ ]:
schools.take(1, 3, 5)

In [ ]:
coffee_menu = Table()
coffee_menu = coffee_menu.with_columns("Coffee Drink", make_array("Espresso", "Cappuccino", "Iced Latte", "Mocha", "Cold Brew", "Caramel Macchiato"),
                         "Type", make_array("Hot", "Hot", "Cold", "Hot", "Cold", "Hot"),
                         "Price (USD)", make_array(3.00, 4.50, 5.00, 4.75, 4.25, 5.50),
                         "Sales (Units)", make_array(120, 150, 200, 130, 180, 160))

In [ ]:
coffee_menu.select(2)

In [ ]:
coffee_menu.take("Coffee Drink", "Type")

# Column-first approach

## Demo 1 - What is happening?

In [ ]:
schools.select('Name', 'Enrollment')

In [ ]:
smaller_table = schools.drop('Founded', 'County')
smaller_table

In [ ]:
schools

What is happening?

<br/><br/><br/>

Each table method returns a new table, so our original table `schools` is unchanged.

Contrast this with the below cell, which permanently changes `schools` (why?):

In [ ]:
schools = schools.drop("Institution", "City").select("City", "Enrollment")
schools

## Demo 2: `with_columns`

Reset by reloading in the table from our data file:

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools

In [ ]:
# A subset of schools just for illustration purposes
some_schools = schools.take(np.arange(5))
some_schools

Suppose we wanted to add a column "Short name" which gives the shortened name of each institution (often used for University Athletics):
* University of California, Berkeley: Cal
* University of California, Davis: Davis
* University of California, Irvine: UCI
* University of California, Los Angeles: UCLA
* University of California, Merced: UCM

In [ ]:
some_schools = some_schools.with_column("Short name", make_array("Cal", "Davis", "UCI", "UCLA", "UCM"))

Suppose we wanted to add a column "Years since founded" (which is self-explanatory).

How do we use **array functions** to do so?

In [ ]:
some_schools = ... #YOUR CODE HERE
some_schools

### (Hide with arrow) Notes

In [ ]:
some_schools = schools.take(np.arange(5))

In [ ]:
some_schools = some_schools.with_columns(
    "Short name", np.array(["Cal", "UCD", "UCI", "UCLA", "UCM"])
)
some_schools

In [ ]:
some_schools = some_schools.with_columns(
    "Years since founded",
    2025 - some_schools.column("Founded")
)
some_schools

## Reorder Columns

In [ ]:
some_schools.select("Name", "Short name", "Founded",
                    "Years since founded", "Institution", "City",
                    "County", "Enrollment")

# Create new tables

In [ ]:
states = Table().with_columns('State',
    np.array(['California', 'New York', 'Florida', 'Texas', 'Pennsylvania']),
    'Code', np.array(['CA', 'NY', 'FL', 'TX', 'PA']), 'Population', np.array([39.3, 19.3, 21.7, 29.3, 12.8])
)

In [ ]:
states

# More Table Methods, More Documentation

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools

## Reading documentation, Part 1

1. How do we get all the column labels of `schools`?
1. How do we **update** `schools` such that the column Name is renamed University?

In [ ]:
... # 1

In [ ]:
... # 2

## Reading documentation, Part 2 (Exact match filters with `.where`)

1. How do we get all the column labels of `schools`?
1. How do we **update** `schools` such that the column Name is renamed University?

In [ ]:
schools.where("Institution", "UC")

In [ ]:
schools.where("City", "Los Angeles")

## Reading documentation, Part 2 (Be careful with `.show`)

The following cells exhibit a tricky, but potentially common bug.

Run the three cells in sequence. Why does the last cell throw an error? What is the error referring to?

**Hint**: Read the documentation of `tbl.show(n)`.

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools

In [ ]:
schools = schools.show(3)

In [ ]:
schools = schools.show(4)

### Why `.show` can be useful

In [ ]:
schools = Table.read_table('data/cal_unis.csv')
schools.show(3) # just the first three rows
schools = schools.relabeled("Name", "University")
schools.show(3) # and again
schools = schools.with_columns("Name", "City")
schools         # the last evaluated value in a cell
                # is displayed by default

In [ ]:
schools.show()

# Example: WNBA data

In [ ]:
wnba = Table.read_table('data/wnba-2020.csv')

In [ ]:
wnba

In [ ]:
wnba.num_rows, wnba.num_columns

In [ ]:
wnba_pts = wnba.select('Player', 'Tm', 'Pos', 'G', 'PTS')

In [ ]:
wnba_pts

In [ ]:
# Computes number of points scored per game
wnba_pts.column('PTS') / wnba_pts.column('G')

In [ ]:
wnba_pts = wnba_pts.with_columns(
    'PPG', wnba_pts.column('PTS') / wnba_pts.column('G')
)

In [ ]:
wnba_pts

# Even More Practice

In [ ]:
schools = Table.read_table('data/cal_unis.csv')

In [ ]:
schools = schools.sort("City")
schools = schools.take(np.arange(10, 20))
schools.where("City", are.equal_to("Los Angeles"))

In [ ]:
schools.where("City", are.equal_to("Los Angeles"))

In [ ]:
states = Table.read_table('data/us-state-capitals.csv')
states

In [ ]:
# Fill in the blank so that the correct array is returned.
states.column(...)