# Lecture 2 – Jupyter Notebooks and Arithmetic

## Data 6, Fall 2024

### Python Expressions

In each of the following cells, there is an expression. After running each cell, you see the value of that expression.

In general, Jupyter notebook cells show you the value of the very last expression in a cell. But generally we'll want to do more than one computation in a cell. In the next lecture, we'll learn how to store our calculations in variables. But for now...

In [ ]:
-17

In [ ]:
#Notice how we only output 2.14 instead of both 2 and 2.14 (this is a comment)
1 + 1
-1 + 3.14

In [ ]:
2 ** 3

In [ ]:
(17 - 14) / 2

In [ ]:
15 % 2

In [1]:
60 / 2 * 3 # Evaluates to 90.0

90.0

In [2]:
60 / (2 * 3) # Evalutes to 60.0

10.0

In [3]:
60 / (2 * 4) # Evaluates to 7.5

7.5

### Example: Tuberculosis Incidence

Using the following information, can you validate the US tuberculosis incidence for 2020 and 2021 that the CDC calculated?
<br>
<br>

**Tuberculosis Cases by U.S. Jurisdiction**

| U.S. Jurisdiction | No. of TB Cases | &nbsp; | &nbsp; | TB Incidence | &nbsp; | &nbsp; |
| --- | --- | --- | --- | --- | --- | --- |
| &nbsp; | 2019 | 2020 | 2021 | 2019 | 2020 | 2021 | 
| Total | 8,900 | 7,173 | 7,860 | 2.71 | 2.16 | 2.37|
| ... | ... | ... | ... | ... | ... | ... |

**U.S. Population by State**

| &nbsp; | 2019 Pop | 2020 Pop | 2021 Pop |
| --- | --- | --- | --- |
| Total | 328,239,523 | 331,501,080 | 331,893,745 |
| ... | ... |... | .. |

In [4]:
# Use Python to do the calculations for you
7173/(331501080/100000) # 2020 U.S. TB incidence

2.163793855513231

In [5]:
# You can also use this cell if you need
7860/(331893745/100000) # 2021 U.S. TB incidence

2.3682278194185313

### Markdown Cells

This is a markdown cell. You can edit me with text by double-clicking me.

You can do cool things with markdown cells, like add `formatting` or images:
<img src="images/oski.png" style="width: 50%">

### Comments

Here's an example of an unhelpful comment.

In [10]:
# Multiplies 17 by the result of floor dividing 244 by 17
17 * (244 // 17)

238

Here's an example of a better comment.

In [11]:
# Finds the largest multiple of 17 less than 244
17 * (244 // 17)

238

## Variable Types

We glossed over something earlier – it seems like there are two different types of numbers!

In [12]:
2 + 3

5

In [13]:
10 / 2

5.0

You can get the type of a value by calling the `type` function. We will learn more about functions later.

In [14]:
type(5)

int

In [15]:
type(5.0)

float

Any time you add, subtract, or multiply any number of ints, the result is still an int. But anytime you divide, or use a float in a calculation, the result is a float.

In [27]:
3 + (2**9) - 15 * 14 + 1

306

In [28]:
3 + (2**9) - 15 * 14 + 1.0

306.0

In [29]:
# Notice how the result is a float, even though 3 divides 15 evenly!
15 / 3

5.0

Weird things can happen when performing arithmetic with floats.

In [30]:
# Should be 0.6
0.1 + 0.2 + 0.3

0.6000000000000001

In [31]:
# Should be 0.2
0.1 + 0.1

0.2

In [32]:
# Should be 1.4
0.1 + 0.1 + 0.1 + 1 + 0.1

1.4000000000000001

## Errors

What happens if we try dividing by 0?

In [33]:
5 / 0

ZeroDivisionError: division by zero

#### In math classes you may have learned that this value is undefined, but I guess Python chose it to be 1

In [34]:
0 ** 0

1

You'll also get an error if your code is syntactically wrong.

In [35]:
2 +

SyntaxError: invalid syntax (4087983127.py, line 1)

In [36]:
3 ** / 4

SyntaxError: invalid syntax (4045155691.py, line 1)