# Lecture 3 Continued – Evaluation, Names, Data Types

### Data 6, Summer 2025

## `print()`

The `print` function in Python is used to display information or output on the screen. It allows you to show text, numbers, variables, or any other value to the user or developer during program execution. You can pass multiple arguments to the `print` function, which will be displayed sequentially on a single line by default.

What happens when we run the cell below?

In [ ]:
print(15)
x = 3 + 4
x
print(14)
-3

## Hello World
For example, `print("Hello, world!")` would display the text "Hello, world!" on the screen. Run the cell below to try it out!

In [ ]:
print("Hello, world!")

### Advanced `print()` Example

Notice how we **typecast** s to be a string so we can concatenate the strings together!

In [ ]:
polygon = "square"
s = 4
print("The area of a " + polygon + \
      " with side length " + str(s) + \
      " is " + str(s ** 2) + ".")

## Exercise

You can also print the value of variables by including them as arguments, such as `name = "John"`, then `print("My name is", name)`, which would display "My name is John". The `print` function can be used for debugging purposes or to provide output to the user in interactive programs. It is a fundamental tool in Python for displaying information and verifying program behavior.

Try the following exercise, where the goal is to print the sum of two numbers. Your output should read:

> "The sum of 5 and 3 is 8"

In [ ]:
# Exercise: Print the sum of two numbers
num1 = 5
num2 = 3
sum_result = num1 + num2
a = print("The sum of" + str(num1), "and", num2, "is", sum_result)
a

## NoneType

In Python, `NoneType` is a special data type that represents the absence of a value or the lack of any specific data. It is used to indicate the absence of a meaningful object or variable. 

When a function or method does not have a return value or when a variable has not been assigned a value, Python assigns the `None` value to it, and its type becomes `NoneType`. 

It is commonly used as a default value, a placeholder, or to signify the failure of an operation.

Here are a few examples of it

In [ ]:
my_var = None
type(my_var)

In [ ]:
# No cell output!
my_var

In [ ]:
# But it can be printed.
print(my_var)

What is output and/or displayed when we run the cell below?

In [ ]:
print("This value is", print(1))

## Arrays

In [ ]:
# Run this cell to import the needed functions
from datascience import *

## `make_array()`
The `make_array` function takes in multiple values seperated by commas, and combines them into one value called an **array**. We will use arrays extensively in this class due to many of their useful features that allow us to write simpler code when working with lots of data. See the examples below for some uses of the function

In [ ]:
make_array(5, -1, 0, 5)

In [ ]:
make_array(5, -1, 0.3, 5)

In [ ]:
make_array(4, -4.5, "not a number")

In [ ]:
arr = make_array("hello",
                 "world",
                 "!")
arr

In [ ]:
print(make_array(5, -1, 0.3, 5))

### Education Levels

Task 1: Compute % of non-high school graduates by state

In [ ]:
from datascience import *

In [ ]:
hs_or_higher = make_array(86.9, 83.9, 88.5, 87.2, 84.4)
hs_or_higher

In [ ]:
100 - hs_or_higher
hs_or_higher

In [ ]:
below_hs = 100 - hs_or_higher
below_hs

Task 2: Compute number of bachelor’s degrees by state

In [ ]:
bs_or_higher = make_array(26.2, 34.7, 30.5, 37.5)
state_pop = make_array(3344006, 26665143, 15255326, 13649157, 18449851)
state_pop

In [ ]:
bs_or_higher/ 100 * state_pop

In [ ]:
below_hs

<br/><br/>

# Practice

Sometimes, we will include extra practice problems at the end for you to work on after class. These are not required or graded in any way, but they're highly recommended.

## Exercise

Assign the variable `ans` to a string that reads `'Lisa Jobs is 45 years old and lives in Canada.'`

You **MUST** use the four variables defined below to create the string.

_Hint: You will need to cast the variable `age` to an integer so that you can change it from 42 to 45._

In [ ]:
first_name = 'Lisa'
last_name = 'Jobs'
age = "42"
location = 'Canada'

ans = ... # YOUR CODE HERE
ans